// Main Theme Button Style
body {
    .btn {
        background-color: $blue;
        color: #242424;
        padding: 12px 30px;
        @include primary-font;
        font-weight: 700;
        cursor: pointer;
        transition: .3s ease all;
        border-radius: 30px;
        font-size: 16px;
        border: 0px;
        width: unset;

        &:hover {
            background-color: #242424;
            color: $blue;
            transition: .3s;
        }

        &.purple {
            background-color: $purple;
            color: white;

            &:hover {
                background-color: $blue;
            }
        }
    }

    .btn-alt {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.75em 1em;
        // border: 3px solid $purple;
        margin: 0 0.75em;
        transition: all 0.6s ease;
        cursor: pointer;

        @media (min-width: 992px) {
            min-width: 167px;
        }

        a {
            text-decoration: none;
        }

        p {
            margin: 0;
            transition: color 0.6s ease;
        }

        &:hover {
            background: $purple;

            p {
                color: white;
            }
        }
    }
}



.simple-link {
    color: $blue;
    font-weight: 700;
    text-decoration: none;
    /*font-size: 18px;*/
    @include ease;
    font-size: 20px;

    svg {
        width: 22px;
        margin-left: 6px;
        @include ease;

        path {
            @include ease;
        }
    }

    &:hover {

        color: $purple;
        @include ease;

        svg {
            transform: translateX(10px);
            @include ease;

            path {
                fill: $blue;
                @include ease;
            }

        }
    }

    &.purple {
        color: $purple;

        &:hover {
            color: $purple;

            svg path {
                fill: $purple;
            }
        }
    }
}


// Extra Button Styles - Can be used for a simple link that is not formatted as buttons