// Main Theme Button Style
body {
    .btn {
        background-color: $blue;
        color: $purple;
        padding: 12px 30px;
        @include primary-font;
        font-weight: 700;
        cursor: pointer;
        transition: .3s ease all;
        text-transform: uppercase;
        border-radius: 30px;
        font-size: 16px;
        border: 0px;

        &:hover {
            background-color: $purple;
            color: $blue;
            transition: .3s;
        }
    }
}


// Extra Button Styles - Can be used for a simple link that is not formatted as buttons

.simple-link {


    &:hover {}
}