// Navbar Scrolled Styles
.navbar.scrolled {
    // background-color:;
    -webkit-box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.54);
    box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.54);
    transition: 0.3s ease;
    background-color: $purple;

    // Other elements to be changed on scroll within the navbar go here
    .navbar-brand {
        svg, img {
            width: 100px;
            transition: .3s ease;
        }
    }


}

.modal-open {
    .navbar.scrolled {
        background-color: $purple;
        transition: 0.3s ease;
        -webkit-box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0);
        -moz-box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0);
        box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0);
    }
}


//  Default Navbar Settings - Change as needed to match style
.navbar {
    width: 100%;
    max-width: 1920px;
    z-index: 9999;
    transition: 0.3s ease;
    position: fixed !important;
    top: 0;
    padding: 30px;

    @include respond-above(xxl) {
        padding: 30px 100px 30px 45px;
    }

    #navbarNav {
        justify-content: flex-end;
    }


    // Styles for Navigation Menu Items - USE Class .nav-right 
    .nav-right {}

    // Default Styles for Theme Logo - Change as Needed
    .navbar-brand {
        padding-left: 50px;

        @include respond-below(md) {
            // padding-left: 25px;
            padding-left: 0;
        }

        svg, img {
            width: 130px;
            transition: .3s ease;
            cursor: pointer;

            @include respond-above(xxl) {
                width: 160px;
            }
        }
    }
}

// Default Styles for Nav Menu Items - Font family and Size in typography.scss
#menu-main {
    align-items: center;

    li {
        cursor: pointer;
        
        &:not(:last-child) {
            a {
                &:after {
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $blue;
                    transition: .3s ease all;
                    opacity: 0;
                }
            }
        }

        a {
            position: relative;
        }

        &:last-child {
            a {
                background-color: $blue;
                color: #242424;
                padding: 14px 35px;
                @include primary-font;
                font-weight: 700;
                cursor: pointer;
                transition: .3s ease all;
                border-radius: 30px;
                border: 0px;

                &:hover {
                    background-color: #242424;
                    color: $blue;
                    transition: .3s;
                }
            }


        }
    }

    &:hover {
        li:hover a:after {
            opacity: 1;
            bottom: 0px;
        }
    }

    .nav-item {
        padding: 5px 25px;

        .menu-btn {}

        a {
            @include respond-above(xxl) {
                font-size: 17px;
            }

            color: white;
            font-size: 15px;
            font-weight: 600;
            @include primary-font;
            letter-spacing: -0.045rem;
        }


        @media (max-width: 1229px) {
            font-size: 14px;
        }
    }
}

button.navbar-toggler {
    display: none;
}

.hamburger-menu {
    position: relative;
    padding: 5px;
    display: inline-block;
    height: 100%;
    width: 25px;
    height: 40px;
    margin-left: 15px;
    display: none;

    @include respond-below(lg) {
        display: block;
    }

    &::before {
        content: "";
        position: absolute;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 60px;
        height: 60px;
        border: 1px solid white;
        top: calc(50% - 31px);
        left: calc(50% - 31px);
        border-radius: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        opacity: 0;
    }

    > span {
        width: 25px;
        height: 3px;
        right: 0;
        background: white;
        display: block;
        position: absolute;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);

        &.line-1 {
            top: 11px;
        }

        &.line-2 {
            top: 18px;
            width: 75%;
        }

        &.line-3 {
            top: 25px;
            width: 75%;
        }
    }

    &:hover span {

        &.line-1, &.line-3 {
            right: 50%;
            width: 60%;
            -webkit-transform: translateX(50%);
            transform: translateX(50%);
        }

        &.line-2 {
            right: 0;
            width: 100%;
            background-color: white;
        }
    }

    &.is-active {
        transform: rotate(45deg);

        > span {
            background: white;
        }

        &:hover::before {
            opacity: 1;
        }

        &:hover .line-1, .line-1 {
            transform: translateY(7px);
            right: 0;
            width: 100%;
        }

        &:hover .line-2, .line-2 {
            opacity: 0;
        }

        &:hover .line-3, .line-3 {
            transform: translateY(-7px) rotate(90deg);
            width: 100%;
            right: 0;
        }
    }
}

#modalMenu {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    outline: 0;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background: $blue;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &.show {
        opacity: 1;
        pointer-events: auto;

        .modal-dialog {
            pointer-events: auto;
        }
    }

    .modal-dialog {
        height: 65%;
        pointer-events: none;

        ul {
            margin: 0;

            .simple-link {
                font-size: 18px;
                line-height: 2em;
                color: white;
            }
        }
    }
}