// Header and Body Font Mixins. If a third font is used can name special-font or something similar.
@mixin primary-font {
    font-family: 'Montserrat', sans-serif;
}

@mixin body-font {
    font-family: 'Open Sans', sans-serif;
}



// Preliminary Theme Fonts, Sizes and Colors - This overrides Bootstraps predefined settings
h1 {

    @include primary-font;
    font-weight: 700;
    font-size: 40px;
    color: $purple;

    // H1 on Mobile
    @include respond-below(md) {}

    // If Font has special Highlighted Words
    // span {

    // }

}

h2 {}

h3 {}

h4 {}

h5 {}

p {}

#main-menu {
    .menu-item {}
}